<div>
  <div class="media">
    <h4 class="media-heading">Marcin Drozd</h4>
    <div class="media-about">
      <p>
        Self-taught Ruby on Rails Developer. Currently working on JavaScript and Elixir skills.
      </p>
    </div>
    <div class="media-body">
      <img src="{{ site.url }}/assets/images/md-new.png" alt="Marcin Drozd" class="avatar">
    </div>
    <div class="media-social">
      <a href="https://pl.linkedin.com/in/madrozd" target="_blank">
        <i class="fa fa-linkedin-square" aria-hidden="true"></i>
      </a>
      <a href="https://github.com/marcindrozd" target="_blank">
        <i class="fa fa-github-square" aria-hidden="true"></i>
      </a>
      <a href="https://twitter.com/marcinaldo" target="_blank">
        <i class="fa fa-twitter-square" aria-hidden="true"></i>
      </a>
    </div>
  </div>
</div>
